*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
    cursor: none;
}
body{
    background-color: blueviolet;
    color:white;
    display: flex;
    justify-content: center;

}
.heading{
    font-size: 2em;
    margin: 1em 0;
    text-align: center;

}
.score{
    font-size: 1.3em;
    margin: 1em 0;
    text-align: center;
}
.holescont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    justify-items:center;

}
.hole{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
 overflow: hidden;
}
.mole{
    position: absolute;
    z-index: 1;
    
    height: 90px;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    animation: appear 0.3s linear;
    pointer-events: none;
}
@keyframes appear{
    from{
        bottom: -60px;
    }
    to{
        bottom: -11px;;
    }
}

.buttons{
    margin-top: 3em;
    text-align: center;

}
.buttons button{
    padding: 15px 45px;
    background-color: inherit;
    border:1px solid white;
    color: white;
    border-radius: 3px;
    outline: none;
}
button.stop{
    display: none;
}
.cursor img{
    position: absolute;
    height: 125px;
    z-index: 2;
    transform: translate(-10px, -40px);
    pointer-events: none;
}
@keyframes hit {
    from{
    transform: rotate(0deg);
}
to{
    transform: rotate(-30deg);
}
}



